@import '../../styles/variables';

.mood-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
}

.mood-image {
  object-fit: cover;
  height: 300px;
  width: 100%;
  @media screen and (max-width: $half-width) {
    height: 250px;
  }
  @media screen and (max-width: $min-width) {
    height: 170px;
  }
}

.mood-image-overlay {
  margin-top: -50px;
  background-color: whitesmoke;
  padding: 0px 12px 0px 12px;
  width: 85%;
  box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
