@import '../../styles/variables';

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

@media screen and (min-width: $min-width) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: $tablet-width) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
