.container {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background-color: darkgray;
  border: 1px solid lightgray;
  cursor: pointer;
}

.visible {
  visibility: visible;
}
