html {
    color: black;
    background-color: #bebebe;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: underline;
    color: white;
}

.margin-right {
    margin-right: 5px;
}

.mood-image-overlay {
    margin-top: -50px;
    background-color: whitesmoke;
    color: dimgrey;
    padding: 0px 12px 0px 12px;
}
