html {
  color: #f7efe9;
  background-color: grey;
}

a {
  text-decoration: underline;
  color: white;
}

.mood-image-overlay {
  margin-top: -50px;
  background-color: whitesmoke;
  color: dimgrey;
  padding: 0px 12px 0px 12px;
}
