.episode-overlay {
  border: 1px #5b5b5b dotted;
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 0px 12px 30px 12px;
}

.artist-section {
  h3 {
    margin-top: 30px;
  }
}

.episode-list {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-items: left;
  align-items: center;
  row-gap: 5px;
  margin-bottom: 3px;

  a {
    margin-left: 10px;
  }
}


