.episode-overlay {
  box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 12px;
}

.artist-section {
  h3 {
    margin-top: 30px;
  }
}

.episode-list {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-items: left;
  align-items: center;
  row-gap: 5px;
  margin-bottom: 3px;

  a {
    margin-left: 10px;
  }
}
