@import '../styles/variables';

.container {
  position: relative;
  color: white;
  cursor: pointer;
}

.tile-button {
  height: $tile-width;
  width: $tile-width;
  border-radius: 15px 15px 15px 0px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.artist-bar {
  position: absolute;
  bottom: 4px;
  left: 0px;
  font: bold 10px/16px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 2px;
}

.spacer {
  padding: 0 2px;
}

.random-button-container {
  background-color: black;
  height: $tile-width;
  width: $tile-width;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-button {
  height: 40px;
  width: 40px;
  color: azure;
}
