.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: transparent;
}

@media screen and (min-width: 500px){
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 800px){
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.artist-tile {
    display: flex;
    justify-content: center;
    padding: 5px;
    line-height: 1;
    transition: all .3s ease;
}
