@import "../styles/variables";

.header-image {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  img {
    filter: blur(1px);
    object-fit: cover;
    height: 175px;
    margin:-1px;
    padding:1px;
    @media (max-width: $min-width) {
      height: 120px;
    }
  }
}

.header-container {
  padding: 0 10px 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  height: 90px;
  margin-top: -90px;

  @media(max-width: $min-width) {
    height: 70px;
    margin-top: -70px;
  }

  h1 {
    margin-top: 14px;
    margin-bottom: -30px;
    @media(max-width: $min-width) {
      font-size: 1.5em;
    }
  }

  a {
    text-decoration: none;
  }
}

.no-top-distance {
  margin-top: -30px;
  box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
