@import "../styles/variables";

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  div {
    margin-right: 20px;
  }

  @media (max-width: $half-width) {
    justify-content: flex-start;
  }
}
